<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <style>

.down{
    width: 50px;
    height: 50px;
    margin: 4px;
}
    </style>
  </head>
  <body>
    <div id="hr">
        <button @click="generate">Schimba</button>
        <div v-for="selectedColor in colorsToShow">
        <div class="down" style="background-color: {{selectedColor}}"></div>
     
      </div>
    </div>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
    <script>
        var tema11 = new Vue({
  el: '#hr',
  data: {
    colorsToShow: [],
  },
  methods: {
    generate: function () {
      this.colorsToShow = [];
      for (let i = 1; i <= 10; i++) {
       this.colorsToShow.push(this.getColor());
      }
    },
    getColor: function () {
        var generatedColor = '#';
        var letters = '123456';
        for (var i = 0; i < 6; i++)
          generatedColor += letters[Math.floor(Math.random() * 5)];
        return generatedColor;
      },
  },

});

    </script>    
</body>
</html>
